altgraph==0.17.4
bcrypt==5.0.0
blinker==1.9.0
cefpython3==66.1
click==8.3.0
colorama==0.4.6
et_xmlfile==2.0.0
Flask==3.1.2
Flask-Bcrypt==1.0.1
Flask-Mail==0.10.0
Flask-SQLAlchemy==3.1.1
greenlet==3.2.4
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
numpy==2.3.5
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
pefile==2023.2.7
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.9
python-dateutil==2.9.0.post0
pytz==2025.2
pywin32-ctypes==0.2.3
setuptools==80.9.0
six==1.17.0
SQLAlchemy==2.0.44
typing_extensions==4.15.0
tzdata==2025.3
Werkzeug==3.1.3
